html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Agrandir-Regular', -apple-system, BlinkMacSystemFont, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
	scroll-behavior: smooth;
	min-height: 100vh;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

@font-face {
	font-family: 'Agrandir-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../public/fonts/Agrandir-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Sometimes-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../public/fonts/Sometimes-Times-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'ASM-Regular';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../public/fonts/ASM-Regular.otf') format('opentype');
}
